# Code ownership for LiU FS AeroCFD project
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Policy and governance files owned by Management team
/LICENSE @LiU-Formula-Student/management
/COPYRIGHT @LiU-Formula-Student/management
/CONTRIBUTING* @LiU-Formula-Student/management
/.github/CODEOWNERS @LiU-Formula-Student/management

# All other files owned by Internal Systems team
* @LiU-Formula-Student/internal-systems
